.container-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color:azure;
    padding: 15px;
   
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;  
}

.container-images img {
    max-height: 100%;
    max-width: 100%; 
}

.slider {
    opacity: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
}
 
.on {
 opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button img {
    transform: rotate(180deg);
}

.article-index {

background-color: azure;

}