@font-face {
	font-family: "fontmenu-header";
	src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

#contact-button {
	background-color:rgb(31, 146, 112, 0.979) ;
}

.header {
	background-color: rgb(255, 255, 255);
	border-radius: 25px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 25px;
	box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.356);
}

.logo-header {
	width: 95px;
	height: 95px;
}

.menu-header ul {
	display: flex;
	list-style-type: none;
}

.menu-header ul li {
	margin: 10px;
	font-size: 20px;
	font-family: fontmenu-header;
}

.menu-header ul li a {
	color: rgb(7, 7, 7);
	padding: 20px;
	transition: .5s ease-in-out;
	border-radius: 10px;
	text-shadow: 0px 4px 15px  rgb(96, 204, 172);
}

.menu-header ul li a:hover {
	background-color: rgba(31, 146, 112, 0.979);
}

.login-button {
	color: azure;
	font-weight: 900;
	font-size: 20px;
	padding: 20px;
	background-color: rgba(31, 146, 112, 0.979);
	border-radius: 15px;
	text-shadow: 0px 4px 15px  black;
}