body {
	background-color: rgba(71, 187, 143, 0.993);
	max-width: 1820px;
	margin: 0 auto
}

.main {
    border-radius: 10px;
}

.container-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
    border-radius: 25px;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    overflow:hidden;
}

.container-images img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    overflow:hidden;
}

.slider, .slider2 {
    opacity: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.on {
    opacity: 1;
}

.prev-button, .next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.prev-button img, .next-button img {
    width: 100%;
    height: 100%;
}

.prev-button img {
    transform: rotate(180deg);
}

.container-highlights {
    background-color: white;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

.highlights {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.highlights-1, .highlights-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}



